// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer{
    background-color: aquamarine;
    text-align: center;
    height: 50px;
    p{
        color: crimson;
        padding-top: 8px;
    }
}